<template>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <strong>Add Employee</strong>
                <router-link to = "/manage-employees" class=" btn btn-primary pull-right">Back</router-link>
            </div>
            <div class="card-body">
              <div :class="status_code==200?'alert alert-success':'alert alert-danger'" role="alert" v-if="messages.length>0">
                <ul>
                  <li v-for="message in messages">
                    {{message}}
                  </li>
                </ul>
              </div>
              <div class="row">
                  <div class="col-sm-8">
                      <div class="form-group">
                        <label for="fullname">Full Name</label>
                        <input type="text" class="form-control" id="fullname" placeholder="Enter Full Name" v-model="fullname">
                      </div>
                      <div class="form-group">
                        <label for="dob">Date of Birth</label>
                        <input type="date" v-model="dob" class="form-control" id="dob" placeholder="Enter Date of Birth">
                      </div>
                      <div class="form-group">
                        <label for="gender">Gender</label>
                        <select class="form-control" id="gender" name="gender" v-model="gender">
                            <option disabled selected value="">Select your Gender</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="O">Others</option>
                          </select>
                      </div>
                      <div class="form-group">
                        <label for="salary">Salary</label>
                        <input type="number" class="form-control" id="salary" placeholder="Enter Salary" v-model="salary">
                      </div>
                     <div class="form-group">
                        <label for="designation">Designation</label>
                        <input type="text" class="form-control" id="designation" placeholder="Enter Designation" v-model="designation">
                      </div>
                      <button type="submit" v-if="create" @click="addEmployee" class="btn btn-primary">Add</button>
                      <button type="submit" v-else @click="updateEmployee" class="btn btn-primary">Update</button>
                  </div>
                  <div class="col-sm-4">
                      <div class="box">
                        <img class="js--image-preview" :src="avatar"/>
                          <div class="upload-options">
                            <label>
                              <input type="file" class="image-upload" accept="image/*" @change="imageUpload"/>
                            </label>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="loading" v-if="loader">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</template>
<style>
  .loading {
      position: fixed;
      top: 0; right: 0;
      bottom: 0; left: 0;
      background: #fff;
  }
  .loader {
      left: 50%;
      margin-left: -4em;
      font-size: 10px;
      border: .8em solid rgba(218, 219, 223, 1);
      border-left: .8em solid rgba(58, 166, 165, 1);
      animation: spin 1.1s infinite linear;
  }
  .loader, .loader:after {
      border-radius: 50%;
      width: 8em;
      height: 8em;
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -4.05em;
  }

  @keyframes spin {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .card{
      margin: 43px 0px 40px 0px;
  }
    

  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  h1 {
    font-family: inherit;
    margin: 0 0 .75em 0;
    color: #728c8d;
    text-align: center;
  }

  .box {
    display: block;
    min-width: 300px;
    height: 300px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
  }

  .upload-options {
    position: relative;
    height: 75px;
    background-color: cadetblue;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    -webkit-transition: background-color ease-in-out 150ms;
    transition: background-color ease-in-out 150ms;
  }
  .upload-options:hover {
    background-color: #7fb1b3;
  }
  .upload-options input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .upload-options label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
  }
  .upload-options label::after {
    content: 'Change';
    font-family: 'Material Icons';
    position: absolute;
    font-size: 2.5rem;
    color: #e6e6e6;
    top: calc(50% - 2.5rem);
    left: calc(50% - 1.25rem);
    z-index: 0;
  }
  .upload-options label span {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
  }
  .upload-options label span:hover i.material-icons {
    color: lightgray;
  }

  .js--image-preview {
    height: 225px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url("");
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .js--image-preview::after {
    content: "photo_size_select_actual";
    font-family: 'Material Icons';
    position: relative;
    font-size: 4.5em;
    color: #e6e6e6;
    top: calc(50% - 3rem);
    left: calc(50% - 2.25rem);
    z-index: 0;
  }
  .js--image-preview.js--no-default::after {
    display: none;
  }

  i.material-icons {
    -webkit-transition: color 100ms ease-in-out;
    transition: color 100ms ease-in-out;
    font-size: 2.25em;
    line-height: 55px;
    color: white;
    display: block;
  }

  .drop {
    display: block;
    position: absolute;
    background: rgba(95, 158, 160, 0.2);
    border-radius: 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  .animate {
    -webkit-animation: ripple 0.4s linear;
            animation: ripple 0.4s linear;
  }

  @-webkit-keyframes ripple {
    100% {
      opacity: 0;
      -webkit-transform: scale(2.5);
              transform: scale(2.5);
    }
  }

  @keyframes ripple {
    100% {
      opacity: 0;
      -webkit-transform: scale(2.5);
              transform: scale(2.5);
    }
  }
</style>
<script>
    export default {
    data(){
        return{
          fullname : "",
          dob : "",
          gender : "",
          salary : "",
          designation : "",
          loader : false,
          avatar : window.location.protocol+'/employees/profile-image.jpg',
          status_code : "",
          messages : [],
          create : true
        }
    },
    created(){
      let that=this;
      
      let employee_id = that.$route.params.id;
      if (employee_id != undefined) {
        that.create = false;
        that.fetchEmployee(employee_id);
      }
    },
    methods:{
      addEmployee(){
        let that = this;
        that.loader=true;
        // setTimeout(function(){
          that.axios.post('/api/addEmployee',{
            fullname : that.fullname,
            dob : that.dob,
            gender : that.gender,
            salary : that.salary,
            designation : that.designation,
            avatar : that.avatar,
          }).then((response) => {
            that.messages = response.data.messages;
            that.status_code = response.status;
            that.loader=false;
            that.reset();
          }).catch(error => {
            that.loader=false;
            that.messages = error.response.data.messages;
            that.status_code= error.response.status;
          }) 
        // },5001);
      },
      updateEmployee(){
        let that = this;
        that.loader=true;
        // setTimeout(function(){
          that.axios.post('/api/updateEmployee/'+that.$route.params.id,{
            fullname : that.fullname,
            dob : that.dob,
            gender : that.gender,
            salary : that.salary,
            designation : that.designation,
            avatar : that.avatar,
          }).then((response) => {
            that.messages = response.data.messages;
            that.status_code = response.status;
            that.loader=false;
            // that.reset();
          }).catch(error => {
            that.loader=false;
            that.messages = error.response.data.messages;
            that.status_code= error.response.status;
          }) 
        // },5001);
      },
      fetchEmployee(employee_id) {
        let that = this;
        that.axios.get('/api/fetchEmployee/'+employee_id,).then((response) => {
            that.fullname = response.data.fullname;
            that.dob = response.data.dob;
            that.gender = response.data.gender;
            that.salary = response.data.salary;
            that.designation = response.data.designation;
            if (response.data.image_path != null) {
              that.avatar = window.location.protocol+response.data.image_path;
            }
          }).catch(error => {
          }) 
      },
      imageUpload(e){
        let that=this;
        let image = e.target.files[0];
        let reader = new FileReader();
        reader.readAsDataURL(image);
        reader.onload = e => {
          let head = 'data:image/png;base64,';
          let imgFileSize = Math.round((e.target.result.length - head.length)*3/4) ;
          if (imgFileSize/1024<=4096) {
            that.avatar = e.target.result;
          }else{
            alert('The Image must not exceed 4MB.');
          }
        } 
      },
      reset(){
        let that = this;
        that.fullname = "";
        that.dob = "";
        that.gender = "";
        that.salary = "";
        that.designation = "";
        that.avatar = window.location.protocol+'/employees/profile-image.jpg';
      },
    }
}
</script>