<template>
    <section>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <strong>Manage Employees</strong>
                    <!-- <div class="btn-group"> -->
                      <button type="button" class="btn btn-info dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                      </button>
                      <div class="dropdown-menu">
                        <router-link to = "/manage-employees/create" class="dropdown-item"> <i class="fa fa-plus"></i> Add Employee</router-link>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" @click="importCSVModel()">Import CSV</a>
                        <!-- <a class="dropdown-item" href="#">Import XLS</a> -->
                      </div>
                    <!-- </div> -->
                </div>
                <div class="card-body">
                    <div class="col-sm-12">
                        <div :class="status_code==200?'alert alert-success':'alert alert-danger'" role="alert" v-if="messages.length>0">
                          <ul>
                            <li v-for="message in messages">
                              <span v-if="status_code==500">Something went wrong in {{key}}th entry.</span>{{message}}
                              <span v-if="skipped!=''">X rows [{{skipped}}] were skipped since they did not have data.</span>
                            </li>
                          </ul>
                        </div>

                        <table class="table" id="table_id">
                          <thead>
                            <tr>
                              <th><input type="checkbox" name="select_all" class="select_all" value="select_all"><br></th>
                              <th>Created Date</th>
                              <th>Fullname</th>
                              <th>Date of Birth</th>
                              <th>Gender</th>
                              <th>Salary</th>
                              <th>Designation</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="csvmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Import CSV</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                
                    <div class="panel panel-sm">
                      <div class="panel-heading"> 
                        <h4>CSV Import</h4>
                      </div>
                      <div class="panel-body">
                        <div class="form-group">
                          <div class="col-sm-12">
                            <input type="file" id="csv_file" name="csv_file" class="form-control" @change="loadCSV($event)">
                          </div>
                        </div>
                        <table v-if="parse_csv" class="table table-bordered">
                          <thead>
                            <tr>
                              <th v-for="key in parse_header"
                                  @click="sortBy(key)"
                                  :class="{ active: sortKey == key }">
                                {{ key | capitalize }}
                                <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                                </span>
                              </th>
                            </tr>
                          </thead> 
                          <tr v-for="csv in parse_csv">
                            <td v-for="key in parse_header">
                              {{csv[key]}}
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" @click="importCSV()" :disabled="parse_csv.length==0">Import</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </section>
</template>
<style>
    .card{
        margin: 43px 0px 40px 0px;
    }

    .panel {
      border: 2px solid #dfdfdf;
      box-shadow: rgba(0, 0, 0, 0.15) 0 1px 0 0;
      margin: 10px;
    } 
    .panel.panel-sm {
      max-width: 700px;
      margin: 10px auto;
    }
    .panel-heading {
      border-bottom: 2px solid #dfdfdf;
    }
    .panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4, .panel-heading h5, .panel-heading h6 {
      margin: 0;
      padding: 0;
    }
    .panel-body .checkbox-inline {
      padding: 15px 20px;
    }

</style>
<script>
    export default {
    data(){
        return{
          channel_name: '',
          channel_fields: [],
          channel_entries: [],
          parse_header: [],
          sortKey: '',
          
          parse_csv: [],
          messages: [],
          status_code: "",
          sortOrders:{},
          key: "",
          skipped: "",
        }
    },
    filters: {
        capitalize: function (str) {
          return str.charAt(0).toUpperCase() + str.slice(1)
        }
      },
    created(){
      let that = this;
      that.initializeDatatable();
    },
    methods:{
      exportTOPDF() {

      },
      initializeDatatable() {
        let that = this;
        $(document).ready( function () {

          let Otable = $("#table_id");
         Otable.DataTable().destroy();  
           let table = Otable.DataTable({
              "processing": true,
              "serverSide": false,
              "pageLength": 50,
              ajax: '/api/fetchEmployees',
              columns: [
                  { data: 'checkbox' },
                  { data: 'created_at' },
                  { data: 'fullname' },
                  { data: 'dob' },
                  { data: 'gender' },
                  { data: 'salary' },
                  { data: 'designation' },
                  { data: 'actions' },
              ], 
              "columnDefs": [
               {
                 "searchable": false,
                 "targets": [0,7]
                }, 
                {
                 "orderable": false,
                 "targets": [0,2,3,4,5,6,7]
                },
              ],
              select:true,
              dom: 'Bfrtip',
              buttons: [
                          {
                            extend: 'excel',
                            text: 'Export to Excel',
                            className: 'btn btn-default',
                            exportOptions: {
                                columns: 'th:not(:last-child)',
                                rows: { selected: true }
                            }
                          },{
                            extend: 'pdf',
                            text: 'Export to PDF',
                            className: 'btn btn-default',
                            exportOptions: {
                                columns: 'th:not(:last-child)',
                                rows: { selected: true }
                            },
                          },
                        ]
            });
            table.on('draw.dt', function(){
               $(".update").on('click',function(){
                that.$router.push('/manage-employees/create/'+$(this).attr('id'));
               });
               
               $(".select_all").click(function() {
                  if($(this). prop("checked") == true){
                     $('.select').prop('checked', true);
                  }
                  if($(this). prop("checked") == false){
                     $('.select').prop('checked', false);
                  }
               });

            });
        } );
      },
      sortBy: function (key) {
        var vm = this
        vm.sortKey = key
        vm.sortOrders[key] = vm.sortOrders[key] * -1
      },
      importCSVModel() {
          $('#csvmodel').modal('show');
      },
      importCSV() {
          let that = this;
          // that.loader=true;
          // setTimeout(function(){
            that.axios.post('/api/importCSV',{
              parse_csv : that.parse_csv,
            }).then((response) => {
              $('#csvmodel').modal('toggle');
              that.messages = response.data.messages;
              that.status_code = response.status;
              that.parse_csv=[];
              that.parse_header=[];

              that.skipped = response.data.skipped;
              // that.loader=false;
              that.reset();
              that.initializeDatatable();
            }).catch(error => {
              $('#csvmodel').modal('hide');
              that.initializeDatatable();
              // that.loader=false;
              that.skipped = error.response.data.skipped;
              that.messages = error.response.data.messages;
              that.key = error.response.data.key;
              that.status_code= error.response.status;
            }) 

      },
      csvJSON(csv){
        var vm = this
        var lines = csv.split("\n")
        var result = []
        var headers = lines[0].split(",")
        vm.parse_header = lines[0].split(",") 
        lines[0].split(",").forEach(function (key) {
          vm.sortOrders[key] = 1
        })
        
        lines.map(function(line, indexLine){
          if (indexLine < 1) return // Jump header line
          
          var obj = {}
          var currentline = line.split(",")
          
          headers.map(function(header, indexHeader){
            obj[header] = currentline[indexHeader]
          })
          
          result.push(obj)
        })
        
        result.pop() // remove the last item because undefined values
        
        return result // JavaScript object
      },
      loadCSV(e) {
        var vm = this
        if (window.FileReader) {
          var reader = new FileReader();
          reader.readAsText(e.target.files[0]);
          // Handle errors load
          reader.onload = function(event) {
            var csv = event.target.result;
            vm.parse_csv = vm.csvJSON(csv)
            
          };
          reader.onerror = function(evt) {
            if(evt.target.error.name == "NotReadableError") {
              alert("Canno't read file !");
            }
          };
        } else {
          alert('FileReader are not supported in this browser.');
        }
      }
    }
}
</script>