<template>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <strong>Home</strong>
                <!-- <router-link to = "/manage-employees/create" class="btn btn-primary pull-right"> <i class="fa fa-plus"></i> Add Employee</router-link> -->
            </div>
            <div class="card-body">
                <div class="col-sm-12">
                    <h5>WELCOME!! HAPPY CODING!!</h5>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
    .card{
        margin: 43px 0px 40px 0px;
    }
</style>
<script>
    export default {
    data(){
        return{
        }
    },
    methods:{
        
    }
}
</script>