<template>
    <div>
        <!-- Nav tabs -->
        <div class="page-header-fixed navbar-fixed-top page-sidebar-closed-hide-logo top-fixed-menu" style="height:auto !important;">
            <theader ></theader>
        </div>
        <fheader></fheader>
        <div class="container-fluid">
            <div class="card main_card" >
                <!-- Tab panes -->
                <!-- <div class="tab-content"> -->
                   <!-- <transition name="fade"> -->
                        <router-view></router-view>
                    <!-- </transition> -->
                <!-- </div> -->
            </div>
        </div>
        <!-- <bfooter></bfooter> -->
    </div>
</template>

<style>
    
</style>

<script>
    import theader from './components/layouts/HeaderFixed.vue';
    import bfooter from './components/layouts/Footerbar.vue';

    export default {
        components:{theader,bfooter},
        data: {
          minHeight: 485,
          marginTop: 134
        },
        created(){
             // this.checkPermission('clinical-module');
            // if(['patientdashboard','dashboard'].indexOf(this.$route.name) == -1){
            //     this.minHeight = 499;
            //     this.marginTop = 130;
            // }
            // else{
            //     this.minHeight = 593;
            //     this.marginTop = 37;
            // }
        },
         mixins:[ 
                ],
        methods:{
           
        }
    }
</script>