<style>
    .footer-logo{
        margin-top: -8px;
        height: 15px;
    }
    .page-footer {
        padding: 8px 20px 5px;
        font-size: 13px;
        height: 33px;
        background-color: #2f373e !important;
    }
    .page-footer-inner{
        color:#98a6ba;
    }
    .page-footer-fixed .page-footer {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 10000;
        bottom: 0;
    }
</style>
<template>
    <div class="page-footer-fixed">
        <div class="page-footer">
            <div class="page-footer-inner"> 2018 &copy; Dolphin.
            </div>
                <a class="pull-right" href="https://www.mavorion.com" target="_blank"><img src="/images/mavorion.png" alt="logo" class="footer-logo"/> </a>
        </div>
    </div>
</template>