<template>
     <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <router-link to = "/home" class="navbar-brand">Home</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <router-link to = "/manage-employees" class="nav-link">Manage Employees</router-link>
          </li>
        </ul>
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Welcome <i>{{auth.name}}</i>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item">Profile</a>
              <a class="dropdown-item">Settings</a>
              <div class="dropdown-divider"></div>
                <a @click="logout()" class="dropdown-item">Logout</a>
            </div>
          </div>
      </div>
    </nav>
</template>
<style>
</style>
<script>
 export default {
    data(){
        return{  
            auth:[]
        }
    },
    created() {
        let that=this;
        that.fetchAuth();
    },
    methods:{
        fetchAuth(){
           let that = this;
              that.axios.get('/api/fetchAuth').then((response) => {
                  that.auth = response.data.auth;
              })
            },
        logout(){
            let that = this
            axios({
                method: 'post',
                url: '/logout',
            }).then((response) => {
                if(response.status ==200){
                    window.location.href='/login';
                }
           })
        },
    }
}
</script>
